.team-info{
    padding: 20px;
    transition: transform .3s;
}
.team-info:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.team-info img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}
.card-title{
    font-size: 15px;
    font-weight:700;
}
.card-text{
    font-size: 13px;
}
.fa-calendar-week{
    font-size: 25px;
    color: #CED1D5;
}
.fa-heart{
    float: right;
    color: #FA7992;
    font-size: 25px;
}
.assign{
    color: #CED1D5;
}